._float-right {
  float: right;
}

._text-primary {
  color: $primary;
}

._text-pumpkin {
  color: $pumpkin;
}

._spacer {
  margin-bottom: 15px;
}

._spacer-md {
  margin-bottom: 25px;
}

._spacer-lg {
  margin-bottom: 35px;
}

._pull-right {
  float: right;
}

._pull-left {
  float: left;
}
